In [1]:
import pandas as pd

In [6]:
diabetes = pd.read_csv("diabetic_data.csv")
id_mapping = pd.read_csv("IDs_mapping.csv")

In [13]:
print(diabetes.shape)
print(id_mapping.shape)

(101766, 50)
(67, 2)

In [18]:
diabetes.describe()

,encounter_id,patient_nbr,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses
count,1.017660e+05,1.017660e+05,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000,101766.000000
mean,1.652016e+08,5.433040e+07,2.024006,3.715642,5.754437,4.395987,43.095641,1.339730,16.021844,0.369357,0.197836,0.635566,7.422607
std,1.026403e+08,3.869636e+07,1.445403,5.280166,4.064081,2.985108,19.674362,1.705807,8.127566,1.267265,0.930472,1.262863,1.933600
min,1.252200e+04,1.350000e+02,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,8.496119e+07,2.341322e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.000000,0.000000,0.000000,6.000000
50%,1.523890e+08,4.550514e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.000000,0.000000,0.000000,8.000000
75%,2.302709e+08,8.754595e+07,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.000000,0.000000,1.000000,9.000000
max,4.438672e+08,1.895026e+08,8.000000,28.000000,25.000000,14.000000,132.000000,6.000000,81.000000,42.000000,76.000000,21.000000,16.000000

In [26]:
diabetes['race'] = diabetes['race'].astype('category')

In [32]:
diabetes.dtypes

encounter_id                   int64
patient_nbr                    int64
race                        category
gender                        object
age                           object
weight                        object
admission_type_id              int64
discharge_disposition_id       int64
admission_source_id            int64
time_in_hospital               int64
payer_code                    object
medical_specialty             object
num_lab_procedures             int64
num_procedures                 int64
num_medications                int64
number_outpatient              int64
number_emergency               int64
number_inpatient               int64
diag_1                        object
diag_2                        object
diag_3                        object
number_diagnoses               int64
max_glu_serum                 object
A1Cresult                     object
metformin                     object
repaglinide                   object
nateglinide                   object
chlorpropamide                object
glimepiride                   object
acetohexamide                 object
glipizide                     object
glyburide                     object
tolbutamide                   object
pioglitazone                  object
rosiglitazone                 object
acarbose                      object
miglitol                      object
troglitazone                  object
tolazamide                    object
examide                       object
citoglipton                   object
insulin                       object
glyburide-metformin           object
glipizide-metformin           object
glimepiride-pioglitazone      object
metformin-rosiglitazone       object
metformin-pioglitazone        object
change                        object
diabetesMed                   object
readmitted                    object
dtype: object

In [70]:
for i in ['gender','age','admission_type_id','discharge_disposition_id','']:
    diabetes[i] = diabetes[i].astype('category')

In [79]:
[diabetes[i].astype('category') for i in ['gender','age']]

[0         Female
 1         Female
 2         Female
 3           Male
 4           Male
 5           Male
 6           Male
 7           Male
 8         Female
 9         Female
 10        Female
 11          Male
 12        Female
 13          Male
 14        Female
 15          Male
 16          Male
 17        Female
 18          Male
 19          Male
 20        Female
 21          Male
 22        Female
 23        Female
 24        Female
 25        Female
 26          Male
 27        Female
 28          Male
 29        Female
            ...
 101736    Female
 101737    Female
 101738      Male
 101739      Male
 101740      Male
 101741      Male
 101742      Male
 101743      Male
 101744    Female
 101745      Male
 101746      Male
 101747    Female
 101748    Female
 101749    Female
 101750    Female
 101751      Male
 101752    Female
 101753      Male
 101754    Female
 101755    Female
 101756    Female
 101757    Female
 101758    Female
 101759      Male
 101760    Female
 101761      Male
 101762    Female
 101763      Male
 101764    Female
 101765      Male
 Name: gender, Length: 101766, dtype: category
 Categories (3, object): [Female, Male, Unknown/Invalid], 0           [0-10)
 1          [10-20)
 2          [20-30)
 3          [30-40)
 4          [40-50)
 5          [50-60)
 6          [60-70)
 7          [70-80)
 8          [80-90)
 9         [90-100)
 10         [40-50)
 11         [60-70)
 12         [40-50)
 13         [80-90)
 14         [60-70)
 15         [60-70)
 16         [50-60)
 17         [50-60)
 18         [70-80)
 19         [70-80)
 20         [50-60)
 21         [60-70)
 22         [70-80)
 23         [80-90)
 24         [70-80)
 25         [50-60)
 26         [80-90)
 27         [50-60)
 28         [20-30)
 29         [80-90)
             ...
 101736     [60-70)
 101737     [40-50)
 101738     [70-80)
 101739     [70-80)
 101740     [40-50)
 101741    [90-100)
 101742     [70-80)
 101743     [80-90)
 101744     [80-90)
 101745     [50-60)
 101746     [70-80)
 101747     [70-80)
 101748     [40-50)
 101749     [70-80)
 101750     [80-90)
 101751     [70-80)
 101752     [40-50)
 101753     [40-50)
 101754     [70-80)
 101755     [40-50)
 101756     [60-70)
 101757     [70-80)
 101758     [80-90)
 101759     [80-90)
 101760     [60-70)
 101761     [70-80)
 101762     [80-90)
 101763     [70-80)
 101764     [80-90)
 101765     [70-80)
 Name: age, Length: 101766, dtype: category
 Categories (10, object): [[0-10), [10-20), [20-30), [30-40), ..., [60-70), [70-80), [80-90), [90-100)]]

1
2
3
4
5
6
7
8
9

[2, 3, 4, 5, 6, 7, 8, 9, 10]